.videoapp{
    height: 100vh;
    display: grid;
    place-items: center;
    background: #1C1F2E;
}
.videoapp div{
    display: flex;
    flex-direction: column;
}
.videoapp div input{
    padding: 2rem 1rem;
    font-size: 2rem;
    border-radius:10px;
}
button{
    padding: 1rem 0.5rem;
    transition: all 0.5s;
    border-radius:10px;
    cursor: pointer;
}
button:hover{
    background-color: #2d3247;
    color: white;
}
h1{
    color: white;
}

/* =========================room desing================================== */

.room{
    background-color: #1C1F2E;
    display: grid;
    place-items: center;
    position: relative;
}
.meeting{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}